<footer >
  <p>&copy; Conheça o Projeto</p>

  <a target="_blank" href="https://github.com/gabrimoreira/components-tracker">
  <img id="github-icon" src="/icons/icons8-github.svg" alt="Github">
  </a>
</footer>
