<nav class="nav">
  <div><a href="/professor">Inicio</a></div>
  <div class="nav-login-signup">
    <a href="/login">Login</a>
    <a href="/sign-up">Registrar-se</a>
    <div class="font-controls">
      <button id="increase-font">A+</button>
      <button id="decrease-font">A-</button>
      <button id="contrast-toggle">Contraste</button>
    </div>

    <!-- <button id="contrast-toggle">Contraste</button> -->
  </div>
</nav>
