<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body class="poppins-regular bg-base">
    <%- include('partials/navbar') %>

    <main class="container">
      <h1 class="title">Sign-up</h1>
      <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores ipsum ea cumque eum eveniet itaque temporibus aperiam qui, magni soluta accusamus quod ut voluptates reprehenderit quas. Quaerat accusamus labore voluptates.</p>

    </main>

    <%- include('partials/footer') %> 
  </body>
</html>
