<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body class="poppins-regular bg-base">
    <%- include('partials/navbar') %>

    <main class="container">
      <h1 class="title">Minhas Práticas</h1>

      <section class="student-praticas" id="praticas-container"></section>
    </main>
    <script>
      const userId = <%= user.id %>;
    </script>
    <script src="/js/student.js"></script>
    <script>
      loadPraticas(userId);
    </script>

    <%- include('../partials/footer') %>
  </body>
</html>
