<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Componentes</title>
    <%- include('partials/head') %>
  </head>
  <body class="poppins-regular bg-base">
    <%- include('partials/navbar') %>

    <main class="container">
      <h1 class="title">Componentes</h1>

      <div class="componentes-form">
        <input
          type="text"
          name="search"
          placeholder="Buscar componente..."
          class="componentes-search"
        />
      </div>

      <section class="componentes-grid" id="componentes-container"></section>
    </main>

    <%- include('../partials/footer') %>

    <script src="/js/tecnico.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", loadComponentes);
    </script>
  </body>
</html>
