<nav class="nav">
  <div><a href="/">Inicio</a></div>
  <div class="nav-login-signup">
    <a href="/sign-up">Seu perfil</a>
    <div class="font-controls">
      <button id="increase-font">A+</button>
      <button id="decrease-font">A-</button>
      <button id="contrast-toggle">Contraste</button>
    </div>
    <!-- <button id="contrast-toggle">Contraste</button> -->
  </div>
</nav>
