<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body class="poppins-regular bg-base">
    <%- include('partials/navbar') %>

    <main class="container">
      <h1 class="title">Seja bem-vindo, <%= user.name %></h1>
      <p class="text">
        No Components Tracker, você pode adicionar suas aulas e verificar os
        componentes disponiveis em cada laboratório
      </p>
      <a href="/student/componentes">
        <button class="btn-header">Verifique os componentes disponíveis</button>
      </a>

      <a href="/student/praticas">
        <button class="btn-header">Veja suas práticas</button>
      </a>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
