<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body class="poppins-regular bg-base">
    <%- include('partials/navbar') %>

    <main class="container">
      <h1 class="title">Minhas Turmas</h1>
      <section id="minhas-turmas" class="turmas-grid"></section>

      <h2 class="title mt-4">Outras Turmas Disponíveis</h2>
      <section id="outras-turmas" class="turmas-grid"></section>
    </main>

    <script src="/js/student.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", loadTurmas);
    </script>

    <%- include('../partials/footer') %>
  </body>
</html>
